---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const collection = await getCollection("examples");
const examples = collection.map((c) => c.data);
const initialExample = examples.find((e) => e.highlighted)?.title;
---

<script>
  import { ppeg } from "ppegjs";
  import { debounce } from "../lib/debounce";

  import { generateOutput, collectAllErrors } from "../lib/generate-output";

  // A little helper to save us from doing null checks later
  const getElement = <T extends Element>(selector: string): T => {
    const element = document.querySelector<T>(selector);
    if (!element) throw new Error("No element found: " + selector);
    return element;
  };

  const examplesSelect = getElement<HTMLSelectElement>("#examples");
  const grammar = getElement<HTMLDivElement>("#grammar");
  const input = getElement<HTMLDivElement>("#input");
  const output = getElement<HTMLDivElement>("#output");
  const jsonCheckbox = getElement<HTMLInputElement>("#json");

  const load = () => {
    const selected = examplesSelect.value;
    const option = getElement<HTMLOptionElement>(`#option-${selected}`);
    input.textContent = option.dataset.input ?? "";
    grammar.textContent = option.dataset.grammar ?? "";
    run();
  };

  const debouncedRun = debounce(() => run(), 300);

  const run = () => {
    output.classList.remove("compile-failed");
    input.classList.remove("compile-failed");
    grammar.classList.remove("compile-failed");

    const compiled = ppeg.compile(grammar.innerText);
    if (!compiled.ok) {
      grammar.classList.add("compile-failed");
      output.classList.add("compile-failed");
      output.innerHTML = generateOutput(compiled.ptree_metadata);
      // Highlight all grammar errors with line/column
      const errors = collectAllErrors(compiled.ptree_metadata);
      console.log(errors); // TODO;
    } else {
      const parsed = compiled.parse(input.innerText);

      const showJson = jsonCheckbox.checked;
      if (!showJson) {
        output.innerHTML = generateOutput(parsed.ptree_metadata);
      }

      if (parsed.ok) {
        // Figure out how to handle highlights for showJson later
        if (showJson) {
          output.innerText = JSON.stringify(parsed.ptree, null, 2);
        }
      } else {
        if (showJson) {
          output.innerText = parsed.show_err();
        }
        input.classList.add("compile-failed");
        output.classList.add("compile-failed");
        // Highlight all input errors with line/column
        const errors = collectAllErrors(parsed.ptree_metadata);
        console.log(errors); // TODO
      }
    }
  };

  examplesSelect.addEventListener("change", load);

  jsonCheckbox.addEventListener("change", run);

  input.addEventListener("input", debouncedRun);
  grammar.addEventListener("input", debouncedRun);

  load();
</script>

<Layout>
  <style is:global>
    body {
      display: grid;
      grid-template-areas:
        "grammar output"
        "input   output";
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 100vh;
      padding: 1em;
      gap: 0.5em;
      box-sizing: border-box;
    }

    #input,
    #grammar,
    #output {
      margin: 2px;
      padding: 5px;
      white-space: pre-wrap;
      font-family:
        "Courier Line Draw", "Courier Prime", "Courier New", monospace;
      resize: none;
      overflow-y: scroll;
    }

    .node-label {
      border-radius: 3px;
      padding: 0 2px;
    }

    .input {
      grid-area: input;
    }

    .output {
      grid-area: output;
    }

    .footer {
      grid-area: footer;
    }

    .grammar,
    .input,
    .output {
      display: grid;
      grid-template-rows: auto 1fr;
      border: thin solid gray;
      min-height: 0; /** necessary to prevent divs from growing below screen **/
    }

    .header {
      height: 20px;
      padding: 5px;
      border-bottom: thin solid gray;
      background: whitesmoke;
      display: flex;
      justify-content: space-between;
    }

    .compile-failed {
      background-color: tan;
    }

    .json {
      display: flex;
      align-items: center;
    }

    .grammar-error-highlight {
      background-color: #ffb3ba !important;
      border-bottom: 2px solid red;
    }
    .input-error-highlight {
      background-color: #ffb3ba !important;
      border-bottom: 2px solid red;
    }

    @media (max-width: 768px) {
      body {
        grid-template-areas:
          "title"
          "grammar"
          "input"
          "output"
          "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
      }

      /**inputs should no longer be scrollable**/
      #grammar,
      #input,
      #output {
        overflow-y: visible;
      }

      /**instead, they should grow**/
      .grammar,
      .input,
      .output {
        min-height: auto;
      }
    }
  </style>

  <div class="grammar">
    <div class="header">
      <label for="grammar">Grammar</label>
      <span class="examples">
        <label for="examples">Examples: </label>
        <select name="examples" id="examples">
          {
            examples.map(({ title, grammar, input }) => (
              <option
                id={`option-${title}`}
                value={title}
                data-grammar={grammar}
                data-input={input}
                selected={title == initialExample}
              >
                {title}
              </option>
            ))
          }
        </select>
      </span>
    </div>
    <div class="content-container" id="grammar" contenteditable></div>
  </div>
  <div class="input">
    <div class="header">
      <label for="input">Input</label>
    </div>
    <div class="content-container" id="input" contenteditable></div>
  </div>
  <div class="output">
    <div class="header">
      Parse Tree
      <label class="json">
        JSON
        <input type="checkbox" id="json" name="json" />
      </label>
    </div>
    <div class="content-container">
      <div id="output"></div>
    </div>
  </div>
</Layout>
